body {
  background-image: url("img/groovepaper.png");
  padding: 20px;
}
#account {
  max-width: 800px;
}
#outcomes {
  margin-left: 0px;
}
#outcomes > div.row {
  padding: 5px;
  border-top: 1px solid #DDD;
  cursor: -webkit-grab;
  background-color: rgba(255, 255, 255, 0.6);
}
#outcomes > div.row:nth-of-type(2n+1) {
  background-color: rgba(249, 249, 249, 0.6);
}
#outcomes > div.row:hover {
  background-color: rgba(220, 220, 220, 0.6);
}
#outcomes > div.row.row.ui-sortable-helper {
  cursor: -webkit-grabbing;
}
#outcomes > div.row .checkbox-pin-btn {
  min-width: 24px;
  min-height: 20px;
}
#outcomes > div.row .checkbox-pin-btn .icon {
  display: none;
  width: 12px;
  height: 12px;
}
#outcomes > div.row .checkbox-pin-btn.active .icon {
  display: inline;
}
#outcomes > div.row .checkbox-pin-btn:hover .icon {
  display: inline;
}
#incomes {
  margin-left: 0px;
}
#incomes > div.row {
  padding: 5px;
  border-top: 1px solid #DDD;
  cursor: -webkit-grab;
  background-color: rgba(255, 255, 255, 0.6);
}
#incomes > div.row:nth-of-type(2n+1) {
  background-color: rgba(249, 249, 249, 0.6);
}
#incomes > div.row:hover {
  background-color: rgba(220, 220, 220, 0.6);
}
#incomes > div.row.row.ui-sortable-helper {
  cursor: -webkit-grabbing;
}
#incomes > div.row .checkbox-pin-btn {
  min-width: 24px;
  min-height: 20px;
}
#incomes > div.row .checkbox-pin-btn .icon {
  display: none;
  width: 12px;
  height: 12px;
}
#incomes > div.row .checkbox-pin-btn.active .icon {
  display: inline;
}
#incomes > div.row .checkbox-pin-btn:hover .icon {
  display: inline;
}
.radio-group {
  display: inline-block;
  padding: 0px 10px;
}
.total {
  padding: 5px 0px;
  border-top: 2px solid #DDD;
  font-weight: bold;
}
.total.row {
  margin: 0px;
}
.grand-total {
  height: 30px;
}
#notification-tray {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
}
#notification-tray > div {
  width: 100%;
  margin: 0px;
}
#notification-tray > .alert-success > .pull-right {
  margin-top: -7px;
}
#notification-tray > .progress {
  height: 30px;
}
#notification-tray > .progress > .progress-bar {
  padding: 5px 0px;
  font-size: 12pt;
}
