/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* User avatar */
.demo-avatar { margin-bottom: 6px; }

/* Avatar foreground align and behavior */
.demo-avatar i {
  line-height: 48px;
  cursor: default;
  -webkit-user-select: none;
}

/* Avatar name */
#account-name { font-weight: bold; }

/* Edit toggle */
.nav-toggle { color: #FFF; }
.mdl-icon-toggle.is-checked .nav-toggle { color: rgba(0,0,0,0.56); }

/* Add FAB */
#addEntityFab {
  position: relative;
  bottom: -24px;
  left: 0px;
  display: inline-block;
}

/* Card info text */
.mdl-card__info {
  display: inline-block;
}

/* Card sum */
#outcomes-sum, #incomes-sum {
  font-size: 24px;
  vertical-align: middle;
}

/* Change drawer link */
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: rgb(83,109,254);
  color: #FFF;
}

/* Dialogs */
.info-dialog { width: inherit; min-width: 280px; max-width: 480px; }
